.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.674);
  padding: 20px;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  max-width: 520px;
  padding: 40px;
  background-color: var(--card);
  border-radius: 12px;
}

.closeButton {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: transparent;
  color: var(--foreground);
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;

  &:hover {
    background-color: var(--accent);
    color: var(--accent-foreground);
  }
}

.header {
  margin-bottom: 12px;
  font-size: 20px;
  color: var(--foreground);
}

.body {
  color: var(--muted-foreground);
}

.footer {
  margin-top: 20px;
  font-size: 14px;
  color: var(--muted-foreground);
}
