.button {
  font-family: 'Montserrat', sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.button:hover {
  background-color: var(--accent);
}
