.section {
  padding: 20px;
  background-color: var(--background);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.posts {
  display: flex;
  justify-content: center;
  height: 100%;
  gap: 10px;
}
