.comment {
  border-radius: 12px;
  background-color: var(--muted-50);
  padding: 12px;
  margin-bottom: 8px;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: var(--accent);
}

.avatarIcon {
  width: 20px;
  height: 20px;
}

.info {
  flex: 1;
}

.name {
  font-size: 12px;
  font-weight: 500;
  color: var(--foreground);
}

.email {
  font-size: 12px;
  color: var(--muted-foreground);
}

.content {
  margin-top: 8px;
  font-size: 14px;
  color: var(--foreground-80);
}

.empty {
  text-align: center;
  font-size: 14px;
  padding: 16px 0;
  color: var(--muted-foreground);
}
