.button {
  font-size: 13px;
  color: var(--primary);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.container {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
  background: var(--secondary);
}

.open {
  max-height: 300px;
}

.scroll {
  max-height: 300px;
  overflow-y: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;

  .name {
    font-weight: bold;
    color: var(--foreground);
  }

  .email {
    font-size: 14px;
    color: var(--muted-foreground);
  }

  .body {
    color: var(--foreground);
  }
}
