.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: var(--card-80);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid var(--border);

  p {
    color: var(--foreground);
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  &:hover .logoIcon {
    transform: scale(1.05);
  }

  .logoIcon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-color: var(--primary);
    color: var(--primary-foreground);
    transition: transform 0.3s ease;

    .logoIconSvg {
      width: 24px;
      height: 24px;
    }
  }

  .logoText {
    font-size: 20px;
    font-weight: bold;
    color: var(--foreground);
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.aboutButton {
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid var(--border);
  font-size: 14px;
  color: var(--foreground);
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--primary);
    color: var(--primary-foreground);
    border-color: var(--primary);
  }

  .aboutButtonIcon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}
