.header {
  padding: 20px;
  background-color: var(--background);
  border-bottom: 1px solid var(--border);

  p {
    color: var(--foreground);
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
