.item {
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 12px;

  background-color: var(--muted);
  cursor: pointer;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: transform 0.3s ease-in-out;
}

.item:hover .image {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, var(--foreground-80), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));

  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.item:hover .overlay {
  opacity: 1;
}

.info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 12px;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.item:hover .info {
  transform: translateY(0);
}

.link {
  display: inline-block;
  margin-top: 4px;

  font-size: 12px;
  font-weight: bold;
  color: var(--primary-foreground);
  text-decoration: none;

  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--accent);
  }
}
