.section {
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

.content {
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-align: center;
}

.code {
  font-size: 96px;
  font-weight: bold;
  color: var(--foreground);
  opacity: 0.15;
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: var(--foreground);
}

.description {
  font-size: 16px;
  color: var(--muted-foreground);
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px 16px;
  border-radius: 100px;
  border: none;

  background-color: var(--primary);
  color: var(--primary-foreground);

  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: var(--muted);
    background-color: var(--accent);
  }

  svg {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}
