.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  .navLink {
    color: var(--foreground);
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--accent-foreground);
    }
  }

  .active {
    color: var(--muted-foreground);
    pointer-events: none;
  }
}
