.container {
  margin-bottom: 14px;
}

.label {
  color: var(--foreground);
  margin-right: 6px;
}

.input {
  padding: 6px 10px;
  border: 1px solid var(--foreground);
  background-color: var(--background);
  color: var(--foreground);
}
