.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--overlay);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: var(--background);
  border-radius: 12px;
}

.title {
  color: var(--foreground);
}

.close {
  position: absolute;
  top: -18px;
  right: -18px;
  color: var(--primary-foreground);
  cursor: pointer;
}
