.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--overlay);
}

.content {
  margin: 0 6px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
  padding: 40px;
  background-color: var(--background);
  color: var(--foreground);
  border-radius: 12px;
}

.title {
  color: var(--foreground);
}

.body {
  color: var(--foreground);
  max-width: 768px;
}

.close {
  position: absolute;
  top: -18px;
  right: -18px;
  color: var(--primary-foreground);
  cursor: pointer;
}
