*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

body,
html,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li {
  margin: 0;
}

input,
button {
  outline: none;
}

a {
  text-decoration: none;
}
